@model OrangeBricks.Web.Controllers.Property.ViewModels.MakeViewingAppointmentViewModel
@{
    ViewBag.Title = "MakeViewingAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Make A Viewing Appointment</h2>
<p>Select an appointment time to view @Model.NumberOfBedrooms bedroom @Model.PropertyType at @Model.StreetName</p>
<hr />

@if (Model.AvailableAppointmentTimes.Count > 0)
{
    using (Html.BeginForm("MakeViewingAppointment", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            <div class="container">
                <div class="row">
                    @foreach (var appointmentDate in Model.AvailableAppointmentTimes.GroupBy(t => t.Date))
                    {
                        <div class="col-sm-1">
                            <h4>@appointmentDate.First().ToString("MMM d")</h4>

                            @foreach (var appointmentTime in appointmentDate)
                            {
                                <div class="row">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" name="appointmentTime" class="custom-control-input" value="@appointmentTime">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">@appointmentTime.ToString("h:mm tt")</span>
                                    </label>
                                </div>
                            }

                        </div>
                    }
                </div>
            </div>
        </div>

        @Html.Hidden("PropertyId", Model.PropertyId)
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Make Appointment" />
        </div>
    }
}
else
{
    <div class="alert alert-info" role="alert">
        There are no available appointment times to view this property.
    </div>
}