@model OrangeBricks.Web.Controllers.Property.ViewModels.MakeViewingAppointmentViewModel
@{
    ViewBag.Title = "MakeViewingAppointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Make A Viewing Appointment</h2>
<p>Select an appointment time to view @Model.NumberOfBedrooms bedroom @Model.PropertyType at @Model.StreetName</p>
<hr />

@if (Model.AvailableAppointmentTimes.Count > 0)
{
    using (Html.BeginForm("MakeViewingAppointment", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-group">
            @foreach (var appointmentTime in Model.AvailableAppointmentTimes)
            {
                <label class="custom-control custom-radio">
                    <input type="radio" name="appointmentTime" class="custom-control-input" value="@appointmentTime">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">@appointmentTime.ToString()</span>
                </label><br />
            }        
        </div>
        @Html.Hidden("PropertyId", Model.PropertyId)
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Make Appointment" />
        </div>
    }
}
else
{
    <div class="alert alert-info" role="alert">
        There are no available appointment times to view this property.
    </div>
}
